{{- $hextra := .Site.Params.hextra }}


<section class="hextra">
    <div class="container">
        <h1 class="hextra-title"> OpenMS WebAPPS </h1>
        <br>
        <div class="hextra-feature-grid hx-grid sm:max-lg:hx-grid-cols-2 max-sm:hx-grid-cols-1 hx-gap-4 hx-w-full not-prose" style="--hextra-feature-grid-cols:3">
        {{- range $hextra}}
            <a href="{{ .url }}" style="background:radial-gradient(ellipse at 50% 80%,rgba(194,97,254,.15),hsla(0,0%,100%,0))" class="hx-aspect-auto md:hx-aspect-[1.1/1] max-md:hx-min-h-[340px] hextra-feature-card not-prose hx-block hx-relative hx-overflow-hidden hx-rounded-3xl hx-border hx-border-gray-200 hover:hx-border-gray-300 dark:hx-border-neutral-800 dark:hover:hx-border-neutral-700 before:hx-pointer-events-none before:hx-absolute before:hx-inset-0 before:hx-bg-glass-gradient">
            <div class="hx-relative hx-w-full hx-p-6">
                <h3 class="hx-text-18rem hx-font-medium hx-leading-6 hx-mb-2 hx-flex hx-items-center"><span>{{ .title }}</span></h3>
                <p class="hx-text-gray-500 dark:hx-text-gray-400 hx-text-xl hx-leading-6">{{ .description }}</p>
            </div>
            <img src="{{ .image }}" class="hx-absolute hx-max-w-none hx-top-[1%] hx-left-[1px] hx-w-[180%] sm:hx-w-[110%] dark:hx-opacity-80" alt="Fast and Full-featured">
            </a>
        {{- end }}
    </div>
</section>
<br>
<br>